<div class="modal fade" id="widgetForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag widgets_path, method: :post do %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">NEW WIDGET</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="fields">
            <%= label_tag 'widget[name]', "Name" %>
            <%= text_field_tag 'widget[name]' %>
          </div>
          <div class="fields">
            <%= label_tag 'widget[description]', "Description" %>
            <%= text_field_tag 'widget[description]' %>
          </div>
          <div class="fields">
            <%= label_tag 'widget[kind]', "Kind" %>
            <%= select_tag 'widget[kind]', options_for_select([["Hidden","hidden"], ["Visible","visible"]]) %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag "SUBMIT", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
