<div class="modal fade" id="signupForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag users_path, method: :post do %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Signup Form</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= text_field_tag 'user[first_name]', nil, class: "form-control", placeholder: "First name" %>
        </div>
        <div class="form-group">
          <%= text_field_tag 'user[last_name]', nil, class: "form-control", placeholder: "Last name" %>
        </div>
        <div class="form-group">
          <%= email_field_tag 'user[email]', nil, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= password_field_tag 'user[password]', nil, class: "form-control", placeholder: "Password" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag "Sign Up", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
